body{
    line-height: 2 
}

#title1{
    color: rgb(138, 4, 138);
}
#weather{
color: red;
font-weight: bold;
}
#title2{
color: rgb(22, 155, 22);
}
#location{
    font-weight: bold;
}

li{
    list-style-type: none;
   
}
#notice{
    color: blue;
    font-weight: bold;
}
