#booking{
    color: green;
    font-weight: bold;
    text-decoration: underline;

}
#service{
    color: blue;
    text-decoration: underline;
    font-weight: bold;

}
h3{
    font-size: 2rem;
}
p{
    font-size: 0.8rem;
}