/* TODO: 부모박스는 relative로 설정    */
/* TODO: 자식박스는 absolute로 설정    */
/* TODO: 부모의 좌표를 수정하면 자식도 따라서 움직이는 디자인인    */
.parent {
    width: 50vw;
    height: 50vh;
    border: 1px solid gray;
    position: relative;
    left: 50px;
    top: 50px;
}
.box {
        width: 50%;
        height: 50%;
        border: 1px solid red;
        position: absolute;
        left: 0;
        top: 0; }
