/* TODO: 마진/패딩 초기값 */
*{
    margin: 0;
    padding: 0;
    /* TODO: 컨텐츠+패딩= width/height 크기(추천) */
    box-sizing: border-box;
}
/*도화지 크기 설정 */
#container{
    width: 80vw;
    height: 90vh;
    background-color: beige;
    margin: 1rem auto;
    /* TODO: 박스 중앙정렬(마진) : 상/하  좌/우(auto)  */
}
header{
    height: 20%;
    background-color: gray;
}
/*TODO: 대메뉴(GNB) */
nav li{
    height: 3rem;
    /*TODO: 세로 -> 가로배치  */
    display: inline-block;
}
/*TODO:본문(가로 100%) 모바일 페이지는 화면이 작으므로 보통 가로를 나누지 않음*/
section{
    width: 100%;
    height: 50%;
    background-color: aqua;
}
aside{
    width: 100%;
    height: 50%;
    background-color: blueviolet
}
footer{
    width: 100%;
    height: 20%;
    background-color: brown
}