.heading{
    border-left: 5px solid blue;
    padding: 0 0 0 10px;
}
ul{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 2.2rem;
    padding: 0 0 0 70px;
}
.text{
    padding: 0 0 0 20px;
}