.card{border: 1px solid gray;
width: 300px; border-radius: 10px; 
margin-top: 3rem;
margin-left: 2rem;}
.card > img{max-width: 100%; height: auto;}
.card-body{ border-top: 1px solid gray; padding: 1rem; }