#page{width: 99vw; margin: 0 auto;}
nav{width: 100%; margin: 0 auto;}
.brand{text-align: center; padding: 1.5rem;}
.fab img{width: 3rem;}
.fab{position: absolute; left: 15px; top: 20px; }
.menu li{float: left; width: 33%; border: 1px solid lightgray;}
.menu li a{display: flex; justify-content: center; align-items: center; height: 6rem;}
.menu{margin: 0 15px 0 15px;}
.menu li :hover{background-color: blue;color: white; } 

@media screen and (min-width:768px){
    nav{width: 90%;}
    .fab{display: none;}
    .brand{float: left; padding-left: 3rem; padding-top: 2rem;}
    .menu li{border: none; float: right; width: auto; padding: 1.5rem 10px 0 10px;}
    .menu li a { height: 3rem;}
}

@media screen and (min-width:1024px){
    nav{width: 60%;}
    .fab{display: none;}
    .brand{float: left; padding-left: 3rem; padding-top: 2rem;}
    .menu li{border: none; float: right; width: auto; padding: 1.5rem 10px 0 10px;}
    .menu li a { height: 3rem;}
}