.example{
    width: 10rem;
    height: 10rem;
    border: 5px solid orange;

    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;

}
.quiz{
    width: 10rem;
    height: 10rem;
    border: 5px solid skyblue;

    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;

}