.apple {
    /* TODO: 왼쪽에 막대기(외곽선):선두께 선스타일 선색깔*/
    /* TODO: 위(top), 우(right), 하(bottom), 좌(left) */
    border-left: 3px solid green;
    padding: 10px;
}
.apple-text{
    border-bottom: 3px solid skyblue;
    padding: 5px;
    width: 30vw;

}